.root
  height 100%
  
  md-icon.large
    font-size 32px
  
  .align-with-text
    .md-fab-toolbar-background
      left 0

  .details
    h3
    em
      margin 0
      padding 0
      text-align right
    
    em
      min-width 6em
  
  > md-content
    padding-bottom 10em
    overflow visible // fix inifinite scroll (window.scrollY is always 0)
